body{
    margin:0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.form-item{
    height:20px;
    float:left;
    display:block;
    position:relative;
    font-family:sans-serif;
    font-size: 16px;
}



.form-group {
    width: 100%;
    height: 20px;
    margin: 5px 0 20px;

    label {
        @extend .form-item;
        line-height: 20px;
        width: 200px;
    }

    .form-input-holder {
        @extend .form-item;
        .input-size {
            @extend .form-item;
            padding: 0 5px;
            border: 1px solid black;
            border-radius: 3px;
            width: 200px;
        }
    }
}

.form-container {
    padding: 50px;
    width: 500px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.form-icon-holder {
    @extend .form-item;
    margin: 0 5px;
    img {
        position: absolute;
        height: 20px;
    }
}

.form-input-invalid-message{
    color:indianred;
    font-size: 12px;
    font-family: sans-serif;    
}

#coord-form{
    border: solid black 1px;
    top:50%;
    position:absolute;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}